* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

h2 {
    font-size: 2rem;
}

/* 

NAV BAR ------------------------

*/

header {
    padding-top: 50px;
    text-align: center;
}

header nav {
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(255, 255, 255, 0.932);
    width: 500px;
    padding: 5px;
    border-radius: 3rem;
    transition: all 0.1s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

header nav ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
    margin: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.37);
    background-color: rgba(212, 212, 212, 0);
    padding: 15px;
    border-radius: 3rem;
}

header nav ul li a:hover {
    color: black;
    transition: color 0.2s ease;
}

header nav ul li a:active {
    background-color: rgba(212, 212, 212, 0.13);
    transition: background-color 0.2s ease;
}

/* 

------------------------

*/

main {
    padding-top: 50px;
    text-align: center;
    align-items: center;
}

/* 

PROFILE PICTURE ------------------------

*/

main .profile {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .4);
}

/* 

INTRO PARAGRAPH ------------------------

*/

main .intro {
    width: 30%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

/* 

JUMP BUTTONS ------------------------

*/

main .jumps{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    margin: 150px auto;
}

main .jumps img {
    margin: 30px;
    border-radius: 100%;
    width: 70px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

main .jumps .contactMe {
    margin: 30px;
    padding: 20px 40px;
    border-radius: 3rem;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);

}

main .jumps .viewWork {
    margin: 30px;
    padding: 20px 40px;
    border-radius: 3rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);

}

/* 

ABOUT ME ------------------------

*/

main #about {
    margin: auto;
    width: 75%;
    padding-bottom: 100px;
}

main #about p {
    padding-top: 30px;
    font-size: 1.5rem;
}

/* 

PROJECTS ------------------------

*/

main #projects {
    width: 100%;
    margin: auto;
}

main .projects {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto;
}

main .projects a {
    text-decoration: none;
    padding: 130px 300px;
    margin: 10px auto;
    border-radius: .5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

/* 

SKILLS ------------------------

*/

main #skills {
    width: 400px;
    height: 200px;
    margin: auto;
    padding-bottom: 20%;
}

main #skills li {
    list-style-type: none;
    margin: auto;
    display: flex;
    float: left;
    padding: 10px;
}

main #skills li a {
    text-decoration: none;
    color: black;
    border-radius: .5rem;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

/* 

CONTACT ------------------------

*/

main #contact {
    padding-top: 20px;
    display: grid;
    width: 100%;
    margin: auto;
    padding-bottom: 100px;
}

main #contact h2 {
    padding-bottom: 30px;
}

main #contact a {
    margin: 0 auto;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
    padding: 30px 150px;
    border-radius: .5rem;
}

main #contact h3 {
    position: relative;
    color: black;
    font-size: 30px;
}

main #contact p {
    color: black;
    font-size: 25px;
}

/* 

MOBILE ------------------------

*/

@media (max-width: 768px) {

    /*

    NAVBAR ------------------------

    */

    header nav {
        top: 0%;
        width: 100%;
        border-radius: 0;
        transition: all 0.3s ease;
    }

    header nav ul {
        max-width: 100%;
    }

    header nav ul li {
        padding: 1vw;
        font-size: 3vw;
    }

    /*

    PROJECTS ------------------------

    */

    main .projects a {
        padding: 13vw 30vw;
    }

    /*

    CONTACT ------------------------

    */

    main #contact a {
        padding: 7vw 25vw; 
    }
}